button:disabled {
    cursor: not-allowed;
    opacity: 0.5 !important;
    pointer-events: auto !important;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}